* {
  font-family: Arial, Helvetica, sans-serif;
}
.autocomplete-wrapper {
  position: relative;
  display: inline-block;
}
.autocomplete-wrapper > label {
  display: block;
}
.autocomplete-wrapper > input {
  width: 100%;
  padding: 8px;
  border: 1px solid #bbb;
  outline: none;
  border-radius: 8px;
  transition: 0.1s;
}
.autocomplete-wrapper > input:focus-visible {
  box-shadow: 0 0 1px 2px #a9cbff;
  border-color: #a9cbff;
}
.autocomplete-wrapper ul.list-wrapper {
  padding: 4px 0;
  margin: 8px 0 0 0;
  width: 100%;
  max-height: 200px;
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 1;
  background-color: white;
  border: 1px solid #eee;
  border-radius: 8px;
  overflow: auto;
}
ul.list-wrapper > li {
  cursor: pointer;
  padding: 8px 12px;
}
ul.list-wrapper > li:hover {
  background-color: #eee;
}
li.item-list.disabled {
  cursor: not-allowed;
  color: #888;
}
